body { margin: 0; overflow: hidden; }

/* Style the button and make it appear above the canvas */
#scrambleButton {
    position: absolute;
    z-index: 1; /* Ensure button is above the canvas */
    top: 20px; /* Adjust to your desired vertical position */
    left: 20px; /* Center horizontally */
    /* transform: translateX(-50%); */
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#solveButton {
    position: absolute;
    z-index: 1; /* Ensure button is above the canvas */
    top: 80px; /* Adjust to your desired vertical position */
    left: 20px; /* Center horizontally */
    /* transform: translateX(-45%); */
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#speedLabel {
    font-size: 18px;
    margin-right: 10px;
    position: absolute;
    z-index: 1; /* Ensure button is above the canvas */
    top: 140px; /* Adjust to your desired vertical position */
    left: 20px; /* Center horizontally */
    color: white;
}

#speedSlider {
    width: 75px;
    position: absolute;
    z-index: 1; /* Ensure button is above the canvas */
    top: 160px; /* Adjust to your desired vertical position */
    left: 20px; /* Center horizontally */
}
#solutionDisplay {
    position: absolute;
    z-index: 1; /* Ensure button is above the canvas */
    top: 30px; /* Adjust to your desired vertical position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

#stopwatch {
    position: absolute;
    z-index: 1; /* Ensure button is above the canvas */
    top: 80%; /* Adjust to your desired vertical position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 50px;
}

/* #R {
    position: absolute;
    z-index: 1; 
    top: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#L {
    position: absolute;
    z-index: 1; 
    top: 20px; 
    left: 60px;
    width: 40px;
    height: 40px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
} */